<%- include ('../layout/admin-header') %>

    <body>
        <form id="edit-form" action="/admin/user-list" method="post">
            <div class="user-list admin-edit">
                <h2>Edit user</h2>
                <input type="text" name="user_id" value="<%= user.user_id %>" class="inputHidden" hidden>
                <div class="mb-3">
                    <label for="input-name" class="form-label">Full name</label>
                    <input type="name" class="form-control" id="input-name" name="full_name"
                        value="<%= user.full_name %>">
                </div>
                <div class="mb-3">
                    <label for="input-usename" class="form-label">Usename</label>
                    <input type="name" class="form-control" id="input-usename" name="username"
                        value="<%= user.username %>">
                </div>
                <div class="mb-3">
                    <label for="input-email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="input-email" name="email" value="<%= user.email %>">
                </div>
                <div class="time-edit">
                    <div class="mb-3" style="margin-right: 30px;">
                        <label for="input-usename" class="form-label">Time off total</label>
                        <input type="name" class="form-control" id="input-time-total" name="time_off_total"
                            value="<%= user.time_off_total %>">
                    </div>
                    <div class="mb-3">
                        <label for="input-usename" class="form-label">Time off remain</label>
                        <input type="name" class="form-control" id="input-time-remain" name="time_off_remain"
                            value="<%= user.time_off_remain %>" disabled>
                    </div>
                </div>
                <input type="hidden" name="_method" value="put">
                <button id="btn-edit" type="submit" class="btn btn-primary">Edit</button>
                <span class="notification"></span>
            </div>
           
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
            $("#btn-edit").on("click", function (event) {
                event.preventDefault();
                var fullname = $('#input-name').val();
                var usename = $('#input-usename').val();
                var email = $('#input-email').val();
                var timeTotal = $('#input-time-total').val();
                var timeRemain = $('#input-time-remain').val();
                var user_id = $('.inputHidden').val();
                if (fullname == '' || usename == '' || email == '' || timeTotal == '') {
                    alert('Empty input')
                } else {

                    $.ajax({
                        url: `/admin/user-list`,
                        method: 'put',
                        data: {user_id:user_id, fullname: fullname, usename: usename, email: email, timeTotal: timeTotal, timeRemain: timeRemain },
                        success: function (data, textStatus, xhr) {
                            if (xhr.status == 200 || xhr.status == '200') {                        
                                $('.notification').html(`Update done!`)
                            } else {
                                alert('Some error occurred try again');
                            }
                        },
                        error: function (response) {
                            error.html(`${response.responseJSON.message}`);
                        }

                    });

                    
                }
            })
        </script>

    </body>
